<div style="background-color: blue;height: 50px;width: 100%;display: flex;align-items: center;justify-content: space-between;">
    <div style="display: flex;align-items: center;">Logo</div>
    <div style="display: flex;align-items: center;">
        <div style="margin: 0px 10px 0px 10px;cursor: pointer;" (click)="routeUrl('home')">Home</div>
        <div style="margin: 0px 10px 0px 10px;cursor: pointer;" (click)="routeUrl('about')">About Us</div>
        <div style="margin: 0px 10px 0px 10px;cursor: pointer;" (click)="routeUrl('location')">Location</div>
    </div>
</div>