

<div style="padding: 10px;">

    <form [formGroup]="userForm" (ngSubmit)="submit()">

        <mat-form-field class="example-form-field" appearance="fill" style="width: 100%;margin-left: 10px;margin-right: 10px;margin-top: 10px;">
            <input matInput type="text" formControlName="name" placeholder="Enter name *">
        </mat-form-field>

        <mat-form-field class="example-form-field" appearance="fill" style="width: 100%;margin-left: 10px;margin-right: 10px;margin-top: 10px;">
            <input matInput type="text" formControlName="age" placeholder="Enter age">
        </mat-form-field>

        <mat-form-field class="example-form-field" appearance="fill" style="width: 100%;margin-left: 10px;margin-right: 10px;margin-top: 10px;">
            <input matInput type="text" formControlName="email" placeholder="Enter email">
        </mat-form-field>

        <button mat-raised-button color="accent" [disabled]="!userForm.valid" type="submit">Submit</button>

    </form>

</div>